# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
*.env
*.venv
.env.*
venv/
.venv

# backend
instance/
*.sqlite3
*.db
backend/__pycache__/
backend/instance/
backend/*.sqlite3
backend/*.db

# Frontend
node_modules/
frontend/node_modules/
dist/
build/
frontend/dist/
frontend/build/

# Git
.git/
.gitignore


.DS_Store
.idea/
.vscode/
*.swp
*.tmp
Thumbs.db
